@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&subset=cyrillic-ext');

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

h1,h4 {
	padding-left: 20px;
	text-align: center;
}

.svgContainer {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 400px;
	height: 400px;
	margin: 40px auto;
	border: 1px solid darkgrey;
	background-image: linear-gradient(to right, transparent 0px, transparent 19px, lightgrey 19px, lightgrey 20px),
	linear-gradient(to bottom, transparent 0px, transparent 19px, lightgrey 19px, lightgrey 20px);
	background-repeat: repeat;
	-webkit-background-size: 10px 100%, 100% 20px;
	background-size: 20px 100%, 100% 20px;
}

.btn {
	margin: 10px auto;
	display: block;
	width: 200px;
	padding: 5px;
	cursor: pointer;
}

.point {
	fill: transparent;
	stroke: red;
	cursor: pointer;
}

.text-point {
	stroke: red;
	user-select: none; 
}

.path {
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.help-line {
	stroke: blue;
}